h1{
    font-family :'Times New Roman', Times, serif ;
    font-size : large ;
}
body{
    font-family :Britannic;
    font-size : medium;
}
p{
    font-family: 'Times New Roman', Times, serif ;
    font-size: small;
}
li{
    font-family : 'Comic Sans MS';
    font-size:large;
    display:inline;
    background-color:cornflowerblue;
}
